<!DOCTYPE html>
<html>

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107673245-1">function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-107673245-1");</script>

  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4a4848">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!--//-->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="Easy generation of QR codes. Generate QR codes on the fly.">
</head>

<body>
    <div id="app">
        <div class="container website">

        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                  <h1 class="title">qrgen.me</h1>
                  <h2 class="subtitle">Generate your <strong>qr</strong> code and share it with the world.</h2>
              </div>
            </div>
          </section>
          <section class="section main">
            <div class="columns">
                <div class="column">
                    <div class="content">
                    <h4 class="title">Input</h4>
                    <div class="field">
                    <div class="control">
                        <textarea v-model="message" class="textarea" placeholder="Type your text here..."></textarea>
                    </div>
                    </div>
                    <div class="field">
                    <label class="label">Size</label>
                    <div class="control">
                        <input v-model="size" class="input" placeholder="Enter size" type="text">
                    </div>
                    </div>
                    <div class="field">
                    <label class="label">Background</label>
                    <div class="control">
                        <input v-model="background" class="input" type="color">
                    </div>
                    </div>
                    <div class="field">
                    <label class="label">Foreground</label>
                    <div class="control">
                        <input v-model="foreground" class="input" type="color">
                    </div>
                    </div>
                    <div class="field">
                        <label class="label">Actions</label>
                    <div class="control">
                        <a @click="resetData" class="button">Reset</a>
                        <a @click="downloadImage" class="button is-primary">Generate image</a> 
                    </div>
                    </div>
                </div>
              </div>
              <!--qrCode Component-->
              <div class="column">
                <div class="content">
                <h4 class="title">Output</h4>
                <qr-code :value="message" :size="size" :foreground="foreground" :background="background"></qr-code>
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <h4 class="title">About</h4>
                  <p class="has-text-justified">QR code (abbreviated from Quick Response Code) is the trademark for a type of matrix barcode (or two-dimensional barcode) first designed for the automotive industry in Japan. A barcode is a machine-readable optical label that contains information about the item to which it is attached. A QR code uses four standardized encoding modes (numeric, alphanumeric, byte/binary, and kanji) to efficiently store data; extensions may also be used. The QR code system became popular outside the automotive industry due to its fast readability and greater storage capacity compared to standard UPC barcodes. Applications include product tracking, item identification, time tracking, document management, and general marketing. A QR code consists of black squares arranged in a square grid on a white background, which can be read by an imaging device such as a camera, and processed using Reed–Solomon error correction until the image can be appropriately interpreted. The required data is then extracted from patterns that are present in both horizontal and vertical components of the image. Check more on <a href="https://en.wikipedia.org/wiki/QR_code">wikipedia</a>.</p>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="content">

                  <div v-if="rawHtml">
                      <a @click="resetImage" class="button">Clear image</a>
                      <hr>
                    <!-- <a @click="forceBASE64Download" class="button is-light">Click me</a><hr> -->

                    </div>
                    <div v-html="rawHtml"></div>
                </div>
                  
              </div>
            </div>
          </section>


          <footer class="footer is-light">
              <div class="container">
                <div class="content has-text-centered">
                  <p>
                    Crafted by <a href="http://nmihaica.gitlab.io/">me</a>. The source code is licensed under <a href="https://en.wikipedia.org/wiki/MIT_License">MIT</a>. <br>
                    Check the code <a href="https://gitlab.com/nmihaica/qrgen.me">here</a>.
  <!--                   <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. -->
                  </p>
                  <p>
                    <a class="icon" href="https://github.com/jgthms/bulma">
                      <i class="fa fa-github"></i>
                    </a>
                  </p>
                </div>
              </div>
            </footer>
            

        </div>
        
      </div>
</body>

</html>