@import "~bulma/sass/utilities/initial-variables.sass";


@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


$primary: #448AFF;
$info: #7986CB;
$success: #AED581;
$warning: #FFB74D;
$danger: #E57373;
$dark: #424242;
$text: #757575;

$radius: 2px;
$family-sans-serif: 'Didact Gothic'; //Didact gothic
$weight-normal: 300; 
$weight-bold: 400;
$weight-semibold: 400;
$weight-medium: 400;



$light: #f6f6f6;
//$text: #546E7A; greengrey
@import "~bulma/bulma.sass";


.hero.is-light,
.footer.is-light{
    background: none;
    border: 1px solid #f6f6f6;
   
}
body{

    margin: 0px;
    min-height: 100vh; //Bigger screens
/*     background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
/*     background: #f6f6f6 */


}
.section.main{
    background:  #f6f6f6;

/*     -webkit-box-shadow: 0px 2px 5px 0px rgba(168,168,168,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(168,168,168,1);
    box-shadow: 0px 2px 5px 0px rgba(168,168,168,1); */
    border-left:1px solid #f6f6f6;
    border-right:1px solid #f6f6f6;
}
#app{


}

canvas{
    max-width: 100%;
    max-height: 400px;

}
.content{

}